.hero-item {
    margin: 20px;
    width: 500px;
    border: solid 2px black;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(216, 159, 159);
 
}

.hero-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}